.context
.frontmatter
.svelte-kit
.vscode
build
docs/design
docs/requirements
frontmatter.json
node_modules
output
package
package-lock.json
static/team-maker/*.svg
static/google*.html
static/naver*.html
static/favicons/site.webmanifest
